* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Stalinist One", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #FDED72;
  background: #086295;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}

.color_white {
  color: #ffffff;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E12A3D;
  font-size: 28px;
  line-height: 38px;
  background: #FEC3D8;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 0 auto;
  min-width: 100px;
  min-height: 30px;
}

.button_difficult {
  font-size: 20px;
  line-height: 30px;
  background: #3C1670;
}

.button_difficult._active {
  -webkit-box-shadow: 0 0 6px 6px #fff inset;
          box-shadow: 0 0 6px 6px #fff inset;
  pointer-events: none;
}

.difficulties__container {
  text-align: center;
}

.difficulties__item {
  border-radius: 8px;
  background: #3C1670;
  padding: 15px;
  cursor: pointer;
}

.difficulties__item-img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  padding: 5px;
  border-radius: 50%;
  background: #9D76D5;
}

.difficulties__item-img svg {
  width: 100%;
  height: 100%;
}

.difficulties__item-text {
  font-size: 18px;
  line-height: 26px;
  margin: 0px 0px 5px 0px;
}

.difficulties__item-text:last-child {
  margin: 0px 0px 0px 0px;
}

.difficulties__item-name {
  color: #E12A3D;
}

.main {
  padding: 80px 0;
}

.main__head {
  text-align: center;
  margin: 0px 0px 40px 0px;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
}

.game__inputs {
  margin: 0px 0px 20px 0px;
}

.game__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.game__input:last-child {
  margin: 0px 0px 0px 0px;
}

.game__input label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin: 0px 10px 0px 0px;
  font-size: 22px;
  line-height: 32px;
}

.game__input input {
  border-radius: 8px;
  background: rgba(254, 195, 216, 0.5019607843);
  color: #141313;
  font-size: 18px;
  padding: 5px;
  -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: background 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.game__input input:focus {
  background: rgba(254, 195, 216, 0.8);
  -webkit-box-shadow: 0 0 3px 3px rgba(254, 195, 216, 0.4431372549);
          box-shadow: 0 0 3px 3px rgba(254, 195, 216, 0.4431372549);
}

.game__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #003366;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game__container._finish .game__box {
  cursor: default;
  pointer-events: none;
}

.game__box {
  padding: 40px 0;
}

.game__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 10px 0px;
}

.game__row:last-child {
  margin: 0px 0px 0px 0px;
}

.game__cell {
  position: relative;
  cursor: pointer;
  background: #fded57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px;
  border-radius: 8px;
}

.game__cell:last-child {
  margin: 0px 0px 0px 0px;
}

.game__cell._open {
  pointer-events: none;
  background: #FFCC33;
}

.game__cell.bomb._active .bomb-svg {
  -webkit-animation: timer 1.5s 2s ease forwards, fadeOut 1s 2.5s ease forwards;
          animation: timer 1.5s 2s ease forwards, fadeOut 1s 2.5s ease forwards;
}

.game__cell.bomb._active .bomb-svg path {
  -webkit-animation: redding 2s 2s forwards ease;
          animation: redding 2s 2s forwards ease;
}

.game__cell.bomb._active .boom-svg {
  display: block;
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(50% - 17.5px);
  opacity: 0;
  -webkit-animation: boom 1s 2.3s ease forwards;
          animation: boom 1s 2.3s ease forwards;
}

.game__cell.bomb._active svg ellipse {
  -webkit-animation: blinking 0.5s forwards linear infinite alternate, redding 2s 2s forwards ease;
          animation: blinking 0.5s forwards linear infinite alternate, redding 2s 2s forwards ease;
}

.game__cell.bomb .boom-svg {
  display: none;
  -webkit-animation: none;
          animation: none;
}

.game__cell.bomb svg {
  width: 35px;
  height: 35px;
}

.game__cell.flag svg {
  pointer-events: none;
  height: 40px;
  width: 20px;
}

.game__bombs-remain {
  padding: 10px 15px;
  background: inherit;
  z-index: 2;
  position: sticky;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-shadow: 0 0 4px 2px #fff;
          box-shadow: 0 0 4px 2px #fff;
}

.game__end-block {
  position: sticky;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: inherit;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
  padding: 5px 15px;
  text-align: center;
}

.game__end-block._win {
  color: greenyellow;
  -webkit-box-shadow: 0 0 4px 2px greenyellow;
          box-shadow: 0 0 4px 2px greenyellow;
}

.game__end-block._lose {
  color: red;
  -webkit-box-shadow: 0 0 4px 2px red;
          box-shadow: 0 0 4px 2px red;
}

.game__end-block .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__end-block .flex > * {
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  margin: 0px 15px 0px 0px;
}

.game__end-block .flex > *:last-child {
  margin: 0px 0px 0px 0px;
}

.difficulties {
  padding: 15px;
  border: 1px solid #FDED72;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 0 30px;
}

.difficulties__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px -15px;
}

.difficulties__item {
  margin: 0 30px 15px;
}

@-webkit-keyframes blinking {
  0% {
    fill: #141414;
  }

  100% {
    fill: red;
  }
}

@keyframes blinking {
  0% {
    fill: #141414;
  }

  100% {
    fill: red;
  }
}

@-webkit-keyframes boom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes boom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes timer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes timer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes redding {
  0% {
    fill: #141414;
    stroke: #141414;
  }

  100% {
    fill: red;
    stroke: red;
  }
}

@keyframes redding {
  0% {
    fill: #141414;
    stroke: #141414;
  }

  100% {
    fill: red;
    stroke: red;
  }
}

@-webkit-keyframes hoverAfter {
  0% {
    width: 1%;
    height: 1%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes hoverAfter {
  0% {
    width: 1%;
    height: 1%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 490px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 1024px) {
  .button_difficult {
    -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
    transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
    -o-transition: background 0.3s ease, box-shadow 0.3s ease;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    transition: background 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  }

  .button_difficult:hover {
    background: #3C1670;
  }

  .button-start {
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }

  .button-start:hover {
    background: #9D76D5;
  }

  .game__cell:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9);
    border: rgba(255, 255, 255, 0.9) 3px solid;
    -webkit-animation: hoverAfter 0.2s ease;
            animation: hoverAfter 0.2s ease;
  }

  .game__end-block .flex .yes {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .game__end-block .flex .yes:hover {
    color: greenyellow;
  }

  .game__end-block .flex .no {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .game__end-block .flex .no:hover {
    color: red;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 490px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}
