.header {
	padding: 30px;
	background: rgb(255, 223, 223);
}
.nav {
	display: flex;
	&__item {
		color: #6877fa;
		margin-right: 30px;
		border: 1px solid #6877fa;
		padding: 5px;
		transition: color 0.3s ease, background 0.3s ease;
		&:hover {
			color: #ffffff;
			background: #6877fa;
		}
	}
}