@import "mixins.scss";
//================================================================================================================================================================================================================
$container_max-width: 1185;
$font-family: Arial;
//================================================================================================================================================================================================================
body{
	font-family: $font-family;
	font-weight: 400;
	font-size: 16px;
	color: #212244;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 0 auto;
}
.container{
	max-width: $container_max-width + px;
	margin: 0 auto;
	padding: 0 15px;
	@media (min-width: 490px){
		padding: 0 15px;
	}
}