@font-face {
  font-family: "Undertale";
  font-display: swap;
  src: url("../fonts/Undertale.woff") format("woff"), url("../fonts/Undertale.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Undertale", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #FDED72;
  background: #362141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input::-moz-selection {
  background: rgba(239, 165, 47, 0.6235294118);
}

input::selection {
  background: rgba(239, 165, 47, 0.6235294118);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1345px;
  margin: 0 auto;
  padding: 0 15px;
}

.color_white {
  color: #ffffff;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #EFA52F;
  font-size: 28px;
  line-height: 38px;
  background: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 0 auto;
  min-width: 100px;
  min-height: 30px;
}

.button-start {
  width: 100%;
}

.modal-button {
  background: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  color: #5da2e4;
  margin: 0px 0px 20px 0px;
}

.modal-button__text {
  text-decoration: underline;
}

.modal-button__img {
  display: none;
}

.difficulties {
  padding: 15px 30px 30px;
  border: 2px solid #47D0F0;
  overflow: hidden;
  margin: 0 0 30px;
  background: #4B487E;
}

.difficulties__text {
  font-size: 28px;
  line-height: 36px;
  margin: 0px 0px 40px 0px;
  color: #EFA52F;
  font-weight: 600;
}

.difficulties__item {
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  text-align: center;
  border-radius: 8px;
  margin: 0px 0px 20px 0px;
  background: #45BDF0;
  color: #282828;
  padding: 15px;
  cursor: pointer;
}

.difficulties__item._active {
  -webkit-box-shadow: 0 0 8px 5px #fff;
          box-shadow: 0 0 8px 5px #fff;
  pointer-events: none;
}

.difficulties__item-img {
  width: 85px;
  height: 85px;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 25px;
  background: #4B487E;
}

.difficulties__item-img svg {
  width: 100%;
  height: 100%;
}

.difficulties__item-img img {
  width: 100%;
  height: 100%;
}

.difficulties__item-container {
  margin: 0px 0px 28px 0px;
}

.difficulties__item-text {
  font-size: 25px;
  line-height: 30px;
  margin: 0px 0px 7px 0px;
}

.difficulties__item-text:last-child {
  margin: 0px 0px 0px 0px;
}

.difficulties__item-name {
  font-size: 26px;
  color: #631A8C;
}

.difficulties__custom-container {
  margin: 0px 0px 20px 0px;
  cursor: default;
}

.difficulties .difficulties__custom {
  text-transform: none;
  margin: 0 25px 20px 0;
  width: 100%;
  background: #45bdf0;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.difficulties .difficulties__custom .difficulties__item-name {
  font-size: 32px;
  line-height: 41px;
}

.difficulties .difficulties__custom-img {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.difficulties .difficulties__custom-img svg {
  display: block;
  width: 30px;
  height: 30px;
}

.main {
  padding: 40px 0 0;
}

.main__head {
  text-align: center;
  margin: 0px 0px 35px 0px;
  color: #fff;
  font-size: 65px;
  text-shadow: 0 0 6px rgba(239, 165, 47, 0.6392156863), 0 0 30px rgba(239, 165, 47, 0.5803921569), 0 0 12px rgba(239, 165, 47, 0.3215686275), 0 0 21px rgba(239, 165, 47, 0.6117647059), 0 0 34px rgba(239, 165, 47, 0.6705882353), 0 0 54px rgba(239, 165, 47, 0.6);
}

.game {
  color: #5DA2E4;
}

.game__inputs {
  margin: 0px 0px 40px 0px;
}

.game__inputs-container {
  margin: 0px 0px 50px 0px;
}

.game__input {
  margin: 0px 0px 20px 0px;
}

.game__input-error {
  color: #fa0d0d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  line-height: 24px;
}

.game__input:last-child {
  margin: 0px 0px 0px 0px;
}

.game__input label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin: 0px 10px 0px 0px;
  font-size: 22px;
  line-height: 26px;
}

.game__input input {
  width: 100%;
  margin: 10px 0 0;
  border-radius: 8px;
  background: #4B487E;
  color: #5DA2E4;
  font-size: 28px;
  padding: 5px;
  -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: background 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.game__input input._error {
  -webkit-box-shadow: 0 0 3px 3px #fa0d0d;
          box-shadow: 0 0 3px 3px #fa0d0d;
}

.game__input input:focus {
  background: #4B487E;
  -webkit-box-shadow: 0 0 3px 3px #5DA2E4;
          box-shadow: 0 0 3px 3px #5DA2E4;
}

.game__container {
  position: relative;
  background: #2B90EE;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game__container._finish .game__box {
  cursor: default;
  pointer-events: none;
}

.game__container._help {
  cursor: help;
}

.game__container._help .game__cell {
  cursor: help;
}

.game__box-container {
  overflow: auto;
  padding-bottom: 114px;
}

.game__box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 40px 40px;
}

.game__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 7px 0px;
}

.game__row:last-child {
  margin: 0px 0px 0px 0px;
}

.game__cell {
  position: relative;
  cursor: pointer;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fa0d0d;
  width: 40px;
  height: 40px;
  font-weight: 600;
  margin: 0px 7px 0px 0px;
  border-radius: 8px;
}

.game__cell:last-child {
  margin: 0px 0px 0px 0px;
}

.game__cell._open {
  background: #d6c1ce;
}

.game__cell.bomb._active .bomb-svg {
  -webkit-animation: timer 1.5s 2s ease forwards, fadeOut 1s 2.5s ease forwards;
          animation: timer 1.5s 2s ease forwards, fadeOut 1s 2.5s ease forwards;
}

.game__cell.bomb._active .bomb-svg path {
  -webkit-animation: redding 2s 2s forwards ease;
          animation: redding 2s 2s forwards ease;
}

.game__cell.bomb._active .boom-svg {
  display: block;
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(50% - 17.5px);
  opacity: 0;
  -webkit-animation: boom 1s 2.3s ease forwards;
          animation: boom 1s 2.3s ease forwards;
}

.game__cell.bomb._active svg ellipse {
  -webkit-animation: blinking 0.5s forwards linear infinite alternate, redding 2s 2s forwards ease;
          animation: blinking 0.5s forwards linear infinite alternate, redding 2s 2s forwards ease;
}

.game__cell.bomb .boom-svg {
  display: none;
  -webkit-animation: none;
          animation: none;
}

.game__cell.bomb svg {
  width: 35px;
  height: 35px;
}

.game__cell.flag svg {
  pointer-events: none;
  height: 40px;
  width: 20px;
}

.game__bombs-remain {
  text-align: center;
  padding: 10px 15px;
  background: #EFA52F;
  z-index: 2;
  position: sticky;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 28px;
  line-height: 32px;
  -webkit-box-shadow: 0 0 4px 2px #fff;
          box-shadow: 0 0 4px 2px #fff;
  color: #fff;
}

.game__end-block {
  position: sticky;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  min-height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -114px;
  background: #EFA52F;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 28px;
  line-height: 32px;
  z-index: 2;
  padding: 5px 15px;
  text-align: center;
}

.game__end-block._win {
  color: #adff2f;
  -webkit-box-shadow: 0 0 4px 2px #adff2f;
          box-shadow: 0 0 4px 2px #adff2f;
}

.game__end-block._lose {
  color: #fa0d0d;
  -webkit-box-shadow: 0 0 6px 4px #A63115;
          box-shadow: 0 0 6px 4px #A63115;
}

.game__end-block .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__end-block .flex > * {
  cursor: pointer;
  font-size: 26px;
  line-height: 40px;
  margin: 0px 15px 0px 0px;
}

.game__end-block .flex > *:last-child {
  margin: 0px 0px 0px 0px;
}

.prompt {
  position: sticky;
  z-index: 101;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-85%, -50%);
      -ms-transform: translate(-85%, -50%);
          transform: translate(-85%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.prompt.prompt__button_active .prompt__button {
  background: #adff2f;
}

.prompt.prompt__button_active .prompt__container {
  -webkit-box-shadow: 0 0 4px 2px #adff2f;
          box-shadow: 0 0 4px 2px #adff2f;
}

.prompt._active {
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.prompt._active .prompt__container::before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.prompt._disabled .prompt__button {
  background: rgb(199, 199, 199);
  cursor: not-allowed;
}

.prompt__container {
  position: relative;
  background: #efa52f;
  -webkit-box-shadow: 0 0 4px 2px #fff;
          box-shadow: 0 0 4px 2px #fff;
  color: #fff;
  padding: 10px 45px 10px 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 28px;
  line-height: 32px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.prompt__container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px;
  background: #2B90EE;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.prompt__container::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 50%;
  margin: -10px 0px 0px 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.prompt__text {
  margin: 0px 0px 10px 0px;
}

.prompt__button {
  width: 100%;
  border-radius: 8px;
  background: #45bdf0;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.modal {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  width: 950px;
  max-width: 90vw;
  max-height: 80vh;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  background: #4B487E;
  border-radius: 8px;
  border: 2px solid #47D0F0;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  -o-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: #45bdf0;
}

.modal::-webkit-scrollbar {
  width: 12px;
}

.modal::-webkit-scrollbar-track {
  background: #4b487e;
  border-radius: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #45bdf0;
  border-radius: 8px;
  border: 3px solid #4b487e;
}

.modal._active {
  opacity: 1;
  visibility: visible;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 1.5px);
  width: 20px;
  height: 3px;
  background: #fff;
}

.modal__close:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__text {
  font-size: 20px;
  line-height: 28px;
}

.modal svg {
  display: block;
  width: 40px;
  height: 40px;
}

.modal__config-container {
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 28px;
}

.modal__config-container svg {
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}

.modal__config-text {
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
}

.modal__config-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}

.modal__mobile {
  margin: 0px 0px 30px 0px;
}

.modal__desktop {
  margin: 0px 0px 30px 0px;
}

.modal__head {
  font-size: 32px;
  line-height: 40px;
  margin: 0px 0px 20px 0px;
  color: #EFA52F;
}

.modal-config .modal__text {
  margin: 0px 0px 15px 0px;
  font-size: 22px;
  line-height: 28px;
}

.modal-bg-close {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  -o-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.modal-bg-close._active {
  opacity: 1;
  visibility: visible;
}

@-moz-document url-prefix()  {
  .game__bombs-remain,
  .game__end-block {
    transform: translate(0);
  }
}

.footer {
  border-top: 1px solid #47d0f0;
  padding: 30px 0;
  background: #4b487e;
  font-size: 18px;
  line-height: 22px;
}

.footer__link {
  display: block;
  margin: 0px 0px 10px 0px;
}

.footer__link:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__link-item {
  text-decoration: underline;
}

@-webkit-keyframes blinking {
  0% {
    fill: #141414;
  }

  100% {
    fill: #fa0d0d;
  }
}

@keyframes blinking {
  0% {
    fill: #141414;
  }

  100% {
    fill: #fa0d0d;
  }
}

@-webkit-keyframes boom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes boom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes timer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes timer {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes redding {
  0% {
    fill: #141414;
    stroke: #141414;
  }

  100% {
    fill: #fa0d0d;
    stroke: #fa0d0d;
  }
}

@keyframes redding {
  0% {
    fill: #141414;
    stroke: #141414;
  }

  100% {
    fill: #fa0d0d;
    stroke: #fa0d0d;
  }
}

@-webkit-keyframes hoverAfter {
  0% {
    width: 1%;
    height: 1%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes hoverAfter {
  0% {
    width: 1%;
    height: 1%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 375px) {
  .modal-button__text {
    margin: 0px 15px 0px 0px;
  }

  .modal-button__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .modal-button__img svg {
    width: 40px;
    height: 50px;
  }
}

@media (min-width: 490px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .modal-button {
    margin: 0px 20px 50px 0px;
  }

  .modal-button:last-child {
    margin: 0px 0px 50px 0px;
  }

  .difficulties__text {
    font-size: 42px;
    line-height: 52px;
  }

  .main {
    padding: 80px 0 0;
  }

  .main__head {
    margin: 0px 0px 70px 0px;
  }

  .game__inputs {
    margin: 0px 0px 80px 0px;
  }

  .game__input-error {
    font-size: 26px;
    line-height: 32px;
  }

  .game__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .game__input label {
    font-size: 28px;
    line-height: 32px;
  }

  .game__input input {
    margin: 0px 0px 0px 0px;
    width: 190px;
  }

  .footer {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (min-width: 1024px) {
  .button-start {
    width: auto;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  }

  .button-start:hover {
    -webkit-box-shadow: 0 0 4px 2px #EFA52F;
            box-shadow: 0 0 4px 2px #EFA52F;
  }

  .modal-button path {
    -webkit-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }

  .modal-button:hover path {
    fill: #EFA52F;
  }

  .difficulties {
    background: 90% 200px/120px 110px no-repeat url("../img/svg/cowboy.svg"), #4B487E;
  }

  .difficulties__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -25px -15px;
  }

  .difficulties__item {
    margin: 0 25px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.333% - 50px);
            flex: 0 0 calc(33.333% - 50px);
  }

  .difficulties__item {
    -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.2s ease;
    transition: background 0.3s ease, -webkit-box-shadow 0.2s ease;
    -o-transition: box-shadow 0.2s ease, background 0.3s ease;
    transition: box-shadow 0.2s ease, background 0.3s ease;
    transition: box-shadow 0.2s ease, background 0.3s ease, -webkit-box-shadow 0.2s ease;
  }

  .difficulties__item:hover {
    background: #73D0F8;
  }

  .difficulties__custom-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 50px);
            flex: 0 0 calc(100% - 50px);
    margin: 0 25px 40px;
  }

  .difficulties .difficulties__custom {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .game__cell:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 2px 2px rgba(253, 203, 231, 0.8156862745);
            box-shadow: 0 0 2px 2px rgba(253, 203, 231, 0.8156862745);
    border: rgba(253, 203, 231, 0.8156862745) 3px solid;
    -webkit-animation: hoverAfter 0.2s ease;
            animation: hoverAfter 0.2s ease;
  }

  .game__cell._open:hover:after {
    border-color: #fff;
    -webkit-box-shadow: 0 0 2px 2px #fff;
            box-shadow: 0 0 2px 2px #fff;
  }

  .game__end-block .flex .yes {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .game__end-block .flex .yes:hover {
    color: #adff2f;
  }

  .game__end-block .flex .no {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .game__end-block .flex .no:hover {
    color: #fa0d0d;
  }

  .prompt:hover {
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }

  .prompt:hover .prompt__container::before {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .prompt.prompt__button_active .prompt__button:hover {
    background: #adff2f;
  }

  .prompt._disabled .prompt__button:hover {
    background: rgb(199, 199, 199);
  }

  .prompt__button {
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }

  .prompt__button:hover {
    background: #73d0f8;
  }

  .modal__close:after,
  .modal__close:before {
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }

  .modal__close:hover.modal__close:after,
  .modal__close:hover.modal__close:before {
    background: #efa52f;
  }

  .footer__link .footer__link-item {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .footer__link:hover .footer__link-item {
    color: #efa52f;
  }
}

@media (min-width: 1440px) {
  .difficulties {
    background-position: 90% 80px;
    background-size: 180px 170px;
  }
}

@media (min-width: 1600px) {
  .difficulties__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(20% - 50px);
            flex: 0 0 calc(20% - 50px);
  }
}

@media (max-width: 767px) {
  .game__bombs-remain {
    max-width: 160px;
    font-size: 19px;
    padding: 5px;
  }

  .game__end-block {
    max-width: 160px;
    font-size: 19px;
    padding: 5px 15px;
  }

  .prompt__container {
    font-size: 19px;
  }
}