#bx-panel {
  z-index: 1001 !important;
}

#bx-panel ~ .header:not(._active) {
  position: sticky;
  background: #263E88;
}
.services__container {
	max-width: 1628px;
}
.nav-stroke .nav-stroke__drop-item:visited, .phones__drop .phones__drop-item:visited {
	color: #0053aa;
}